.navLinks {
  display: flex;
  gap: 40px;
}

.navLink {
  font-size: 18px;
}

.navLink > i {
  margin-right: 10px;
}

.navLink:hover {
  color: rgb(8, 124, 8);
  text-shadow: 0px 0px 20px green;
}

.navLink:hover i {
  color: rgb(163, 160, 160);
}
.navLink:last-child:hover i {
  color: gold;
  text-shadow: 0px 0px 20px gold;
}

.active {
  color: rgb(8, 124, 8);
  text-shadow: 0px 0px 20px green;
}

.activeGold {
  color: rgb(8, 124, 8);
  text-shadow: 0px 0px 20px green;
}
.activeGold > i {
  color: gold !important;
}

@media (width < 1000px) {
  .navLink > span {
    display: none;
  }
}
